
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}
body{
    background-image:url(img-1.jpg);
    height: 100vh;
    background-size: cover;
  
    /* background-color: rgb(217, 255, 192); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 250px;
    height: 250px;
    background-color: rgb(247, 183, 225);
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}